<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Nova Palavra-passe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="auth-form-container">
        <h1>Definir Nova Palavra-passe</h1>
        <form method="post" class="auth-form">
            <div class="material-input">
                <input type="password" id="password" name="password" required placeholder=" " autocomplete="new-password">
                <label for="password">Nova palavra-passe</label>
            </div>
            <button type="submit" class="btn">Definir palavra-passe</button>
        </form>
        <div class="auth-links">
            <a href="/login">Iniciar Sessão</a>
        </div>
    </div>
</body>
</html>
